extends navbar

block content
  div(class='nav-margin')
    h1 #{recipe.title}
    p #{recipe.description}
    ul
      for i in recipe.ingredients
        li #{i}
    ol
      for i in recipe.instructions
        li #{i}
    div(class='gallery-img')
      img(src=`${image.url}`, alt=`${image.filename}`)
    //-Edit and delete options if owner
    if locals.currentUser !== undefined && recipe.user == locals.currentUser._id
      a(href=`/recipe/${recipe._id}/update`) Edit
      a(href=`/recipe/${recipe._id}/delete`) Delete
